
/*  color #0097e6 */
/*   */
/*   */
/*   */
/*  */
html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.clearfix{
    overflow: auto;
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

html{
    background-color: white;
    color: #555;
    font-family: "lato" , "arial" , "sans-serif";
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
     margin: 0 auto; /*  thats how to center the page */
}
body{
    font-family: sans-serif;
    line-height: 1;
    color: #555;




}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.699)) ,url(imgs/hero1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1,h2{
   font-weight: 300;
   text-transform: uppercase;

}
h1{
    margin: 0;
    margin-bottom: 20px ;
    color: white;
    font-size: 240%; 
    word-spacing: 4px;
    letter-spacing: 1px;


}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;

    




}
h2::after{
    display: block;
    height: 2px;
    background-color: #0097e6;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;

}




.hero{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}




.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;



}
.btn:hover,
.btn:active{
    background-color: #003e5e;





}
.btn-a:link,
.btn-a:visited{
    background-color: #0097e6;
    border: 1px solid #0097e6;
    color: #fff;
    margin-right: 15px;



}
.btn-a:hover,
.btn-a:active{
    border: 1px solid #003e5e;
    background-color:#003e5e;



}
.btn-b:link ,
.btn-b:visited{
    border: 1px solid #0097e6;
    color: #0097e6;


}
.btn-b:active ,
.btn-b:hover{
    border: 1px solid #003e5e;
    color: #fff;



}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.main-nav {
    
    float: right;
    list-style: none;
    margin-top: 55px ;
    margin-right: 50px;

    
    

}

.main-nav li {
     display: inline-block;
    margin-left: 40px;



}

.main-nav li a:link  ,
.main-nav li a:visited {
    color: white;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90% ;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;



}

.main-nav li a:hover  ,
.main-nav li a:active {
    border-bottom: 2px solid #0097e6;

    



}
.news {
    padding: 80px 0;
    position: relative;



}
.news .box {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
    transition: transform 0.3 , box-shadow 0.3;
    

}
.news .box:hover{
    transform: translatey(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);


}
.news .box .content{
padding: 20px;



}
.news .box .content h3{
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    color: #003e5e;

}
.news .box .content p {
    margin: 10 0 0;
    line-height: 1.5;
    color: #777;

}
.news .box .info{
padding: 20px;
border-top: 1px solid #E6E6E7;
justify-content: space-around;
display: flex;
align-items: center;


}
.news .box .info a {
    color: #0097e6;
    font-weight: bold;

}
.news .box .info i {
    color: #0097e6;

}
.row p{
    margin-bottom: 40px;
}

hr{
    border: 10px solid #003e5e ;
    margin-bottom: 50px;


}

.events{
    padding: 0;
    
    
}
.events p {
    margin-bottom: 40px;
}


.events-showcase{
    list-style: none;
    width: 100%;
    

  
}

.events-showcase li {
    display: block;
    float: left;
    width: 50%;
}

.event-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;


}.event-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s , opacity 0.5s;

}
.event-photo img:hover {
    opacity: 1;

    transform: scale(1.03);

}


.events-showcase h3{
    position: absolute;
    width: 200px;
   padding-top: 300px ;
   padding-left: 400px;
    text-align: center;
    color: white;


}


.us{
    margin-top: 50px;
}

.contact{
    background-color:#f4f4f4 ;
}
.aaa{
    margin-top: 50px;
}
.map{
    margin-top: 30px;
    float: left;
}
.para{
    text-align: center;
}
.color{
    background-color: #f4f4f4;
}
.media{
    list-style: none;
    width: 100%;
    float: left;

}
.media li{
    display: block;
    width: 50%;
    padding-top: 50px;


}
.media li i{
    color: #0097e6;
    
}
.contact{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.contact iframe{
    width: 100%;

}
.media span h5 {
    margin-top: 10px;
}


footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}





footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
























































@media(max-width: 1140px){
    .main-nav {
    
        float: right;
        list-style: none;
        margin-top: 55px ;
        margin-right: 30px;
        
        
        
    
    }


}
   
@media screen and (Max-width: 650px) {

    .events-showcase h3{
       
        width: 200px;
       padding-top: 400px ;
       padding-left: 150px;
        text-align: center;
        color: red;
    
    
    }

}
























.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}






.span-5-of-5 {
	width: 100%;
}

.span-4-of-5 {
  	width: 79.68%; 
}

.span-3-of-5 {
  	width: 59.36%; 
}

.span-2-of-5 {
  	width: 39.04%;
}

.span-1-of-5 {
  	width: 18.72%;
}







@media(max-width: 1140px){
    .main-nav {
    
        float: right;
        list-style: none;
        margin-top: 55px ;
        margin-right: 30px;
        color: red;
        
        
    
    }


}
   
@media(Max-width: 650px) {

    .events-showcase h3{
       
        width: 200px;
       padding-top: 400px ;
       padding-left: 150px;
        text-align: center;
        color: red;
    
    
    }

}









